---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

import homeHero from '../assets/homeHero.svg';
import homeSecondary from '../assets/homeSecondary.svg';
import cardImg1 from '../assets/cardImg1.png';
import cardImg2 from '../assets/cardImg2.png';
import cardImg3 from '../assets/cardImg3.svg';
import cardImg4 from '../assets/cardImg4.png';
import backgroundMain from '../assets/backgroundMain.svg';

---

<Layout>
	<Header />
	<section class="fade-in-up py-5"><!-- Add some vertical spacing -->
		<div class="container">
			<div class="row align-items-center">
				<!-- Text Column -->
				<div class="col-md-6 mb-4 mb-md-0">
					<!-- Use a Bootstrap display class for a large, responsive heading -->
					<h1 class="display-4 fw-bold">
						Stay Secure, Stay Productive
					</h1>

					<!-- Use .lead for slightly larger paragraph text -->
					<p class="lead">
					  <span class="realistic-marker-highlight">
						Best-in-class cyber protection for only <strong>$18 a month*</strong>
					  </span>
					  with expert-led Managed Security Services, comprehensive assessments, and program development 
					  <span>tailored to your organization</span>.
					</p>

					<p class="lead">
					  Protected by Prospector, you focus on your business while we secure it—24/7. 
					  Whether through continuous security monitoring or expert consulting, we help you 
					  operate with confidence against evolving threats.
					</p>



					<a href="/contact-us/" class="btn btn-hero btn-lg">
						Get Started
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="22"
							height="22"
							fill="currentColor"
							class="bi bi-arrow-right-circle align-middle ms-2"
							viewBox="0 0 16 16"
						>
							<path
								fill-rule="evenodd"
								d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
							/>
						</svg>
					</a>
				</div>

				<!-- Image Column -->
				<div class="col-md-6 text-center">
					<img
						src={homeHero.src}
						alt="Secure Your Business"
						class="img-fluid rounded"
					/>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="row">
				<!-- Text Section -->
				<div class="col-12 text-center text-md-start">
					<!-- Large, responsive heading -->
					<h2 class="display-4 fw-bold mb-4">
						The Prospector Difference
					</h2>

					<!-- Slightly larger paragraph text -->
					<p class="fs-5">
						We manage your cybersecurity so you can focus on your core business. 
						Whether guiding your team through regulatory frameworks, supporting your 
						systems with ongoing security services, or conducting independent risk assessments, 
						<span class="realistic-marker-highlight">we add critical value to any team.</span>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section
		class="py-5"
		style="background: linear-gradient(180deg, #F3F3F4 48.5%, #EAFBFF 100%);"
	>
		<div class="container">
			<div class="row align-items-center">
				<!-- Text Section -->
				<div class="col-md-6 mb-4 mb-md-0 text-center text-md-start">
					<!-- Heading with responsive font size -->
					<h2 class="fs-3 fw-bold">
						Full stack security,
						<span class="realistic-marker-highlight">fully managed</span> for you.
					</h2>
					<!-- Paragraph -->
					<p class="fs-5 mt-3">
						Our mission is simple. We help IT teams move past traditional responsive security,
						by providing organizations with proactive security services that <span class="realistic-marker-highlight">keep breaches from 
						happening</span> in the first place. 
					</p>
				</div>

				<!-- Image Section -->
				<div class="col-md-6 text-center">
					<!-- Remove or adjust the negative margin; .img-fluid ensures responsiveness -->
					<img
						src={homeSecondary.src}
						alt="Proactive Security Services"
						class="img-fluid mt-lg-neg-2"
					/>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container text-center">
			<div class="row g-4">

				<div class="col-lg-3 col-md-6 fade-in-up delay-1">
					<div class="card border-0 shadow" style="background: linear-gradient(180deg, #F3F3F4 48.5%, #EAFBFF 100%); height: 354px;">
						<div class="position-relative">
							<img
								src={cardImg1.src}
								alt="Card 1 Image"
								class="img-fluid mt-lg-neg"
								width="191"
							/>
						</div>
						<div class="card-body">
							<h5 class="fs-4">
								<span class="fw-bold">90% decrease</span> in time to recovery*
							</h5>
							<p class="fs-6">
								Prospector provides around-the-clock intervention to prevent the spread of an attack on your behalf.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 fade-in-up delay-2">
					<div class="card border-0 shadow" style="background: linear-gradient(180deg, #F3F3F4 48.5%, #EAFBFF 100%); height: 354px;">
						<div class="position-relative">
							<img
								src={cardImg2.src}
								alt="Card 2 Image"
								class="img-fluid mt-lg-neg"
								width="191"
							/>
						</div>
						<div class="card-body">
							<h5 class="fs-4">
								<span class="fw-bold">Decades of experience</span> in cybersecurity
							</h5>
							<p class="fs-6">
								Prospector protects your critical data using deep industry experience custom to your needs.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 fade-in-up delay-1">
					<div class="card border-0 shadow" style="background: linear-gradient(180deg, #F3F3F4 48.5%, #EAFBFF 100%); height: 354px;">
						<div class="position-relative">
							<img
								src={cardImg3.src}
								alt="Card 3 Image"
								class="img-fluid mt-lg-neg"
							/>
						</div>
						<div class="card-body">
							<h5 class="fs-4">
								<span class="fw-bold">Over 90%</span> attacks come from online activity
							</h5>
							<p class="fs-6">
								Our packages are purpose built to provide you with protection where it counts.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 fade-in-up delay-2">
					<div class="card border-0 shadow" style="background: linear-gradient(180deg, #F3F3F4 48.5%, #EAFBFF 100%); height: 354px;">
						<div class="position-relative">
							<img
								src={cardImg4.src}
								alt="Card 4 Image"
								class="img-fluid mt-lg-neg"
								width="191"
							/>
						</div>
						<div class="card-body">
							<h5 class="fs-4">
								<span class="fw-bold">Instant protection.</span> Instant value.
							</h5>
							<p class="fs-6">
								Prospector empowers you quickly, with rapid assessment, rapid deployment and around the clock protection.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	  <section class="py-3">
		<div class="container">
		  <div class="row justify-content-center">
			<div class="col-auto">
			  <a href="/about/" class="btn btn-hero2 btn-lg d-inline-flex align-items-center">
				More About Prospector
				<svg
				  xmlns="http://www.w3.org/2000/svg"
				  width="22"
				  height="22"
				  fill="currentColor"
				  class="bi bi-arrow-right-circle align-middle ms-2"
				  viewBox="0 0 16 16"
				>
				  <path
					fill-rule="evenodd"
					d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
				  />
				</svg>
			  </a>
			</div>
		  </div>
		</div>
	  </section>

	<section class="py-5">
		<div class="container">
			<div class="row align-items-center">
				<div
					class="col-md-5 text-center mb-4 mb-md-0"
					style={`background-image: url(${backgroundMain.src}); background-size: cover; background-position: center; height: 400px;`}
				>
					<div class="d-flex flex-column h-100 justify-content-center">
						<div class="text-start fw-bold fs-3">
							Foundations<br>Package
						</div>
						<div class="text-center my-3">
							<span class="display-4 fw-bold">$<span class="super" style="font-size: 128px;">18</span></span>
							<span class="fw-bold" style="font-size: 40px;">per month</span>
						</div>
						<div class="text-center fw-bold fs-5">
							No Additional Licensing • Fully Managed •<br> Single Source for Security • Top to Bottom Protection
						</div>
					</div>
				</div>

				<div class="col-md-7 text-center text-md-start">
					<h2 class="fw-bold mb-3 display-5">
						Ready for Protection by Prospector?
					</h2>
					<p class="fs-5 py-2">
						Get started today with our Foundations package for only <strong>$18 per month*</strong>. Or learn more about our a-la-carte protection packages, built to align with your unique needs.
					</p>
					<div class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-md-start gap-3">
						<a href="/pricing/" class="btn btn-hero btn-lg">
							Learn About Foundations
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								fill="currentColor"
								class="bi bi-arrow-right-circle align-middle ms-2"
								viewBox="0 0 16 16"
							>
								<path
									fill-rule="evenodd"
									d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
								/>
							</svg>
						</a>
						<a href="/pricing/" class="btn btn-hero2 btn-lg">
							See All Benefits
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								fill="currentColor"
								class="bi bi-arrow-right-circle align-middle ms-2"
								viewBox="0 0 16 16"
							>
								<path
									fill-rule="evenodd"
									d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
								/>
							</svg>
						</a>
					</div>
					<p class="fw-bold pt-4 fs-4">
						Still want more information?
					</p>
					<p class="fs-5 py-2">
						<a href="/contact-us/" style="color: #427587;">Contact us</a> for an in-depth conversation, demo, or even just to answer your questions on how we can partner with you. <a href="/faq/" style="color: #427587;">Prospector FAQs</a> are also a great place to learn more.
					</p>
				</div>
			</div>
		</div>
	</section>



<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
  <defs>
    <filter id="marker-shape">
      <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warp" />
    </filter>
  </defs>
</svg>


</Layout>

<style>
	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(30px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fade-in-up {
		opacity: 0;
		animation: fadeInUp 1s ease-in-out forwards;
	}

	.fade-in-up.delay-1 {
		animation-delay: 0.25s;
	}

	.fade-in-up.delay-2 {
		animation-delay: 0.5s;
	}

	.main-h1 {
		font-family: Kumbh Sans;
		font-size: 64px;
		font-weight: 800;
		line-height: 79.38px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
	}

	.lead {
		font-family: Kumbh Sans;
		font-size: 24px;
		font-weight: 500;
		line-height: 29.77px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
	}

	.mark {
		background-color: #bbd758a3;
		border-radius: 20px;
	}

	.btn-hero {
		background-color: #bbd758;
		color: #0b232b;
		font-family: "Kumbh Sans", sans-serif;
		font-size: 22px;
		font-weight: 700;
		line-height: 27.29px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		border-radius: 3px;
		padding: 10px 20px;
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
	}

	.btn-hero2 {
		background-color: #ffffff;
		color: #0b232b;
		border: 2px solid #bbd758;
		font-family: "Kumbh Sans", sans-serif;
		font-size: 22px;
		font-weight: 700;
		line-height: 27.29px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		border-radius: 3px;
		padding: 10px 20px;
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
	}
	
	.realistic-marker-highlight{
	  position:relative;
	}

	.realistic-marker-highlight:before{
	  content:"";
	  background-color:#bbd758a3;
	  width:100%;
	  height:1em;
	  position:absolute;
	  z-index:-1;
	  filter:url(#marker-shape);
	  left:-0.25em;
	  top:0.1em;
	  padding:0 0.25em;
	}

	@media (min-width: 992px) {
		.mt-lg-neg {
			margin-top: -3rem !important;
		}
	}

	@media (min-width: 992px) {
		.mt-lg-neg-2 {
			margin-top: -6rem !important;
		}
	}
</style>


